<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Author</key>
	<string>Patrick Meenan</string>
	<key>Builder Version</key>
	<string>10600.5.17</string>
	<key>CFBundleDisplayName</key>
	<string>browser-power</string>
	<key>CFBundleIdentifier</key>
	<string>com.wpofoundation.browser-power</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>Chrome</key>
	<dict>
		<key>Global Page</key>
		<string>background.html</string>
		<key>Toolbar Items</key>
		<array>
			<dict>
				<key>Command</key>
				<string>StartBatteryTest</string>
				<key>Identifier</key>
				<string>StartBatteryTest</string>
				<key>Image</key>
				<string>battery.png</string>
				<key>Label</key>
				<string>Start Battery Test</string>
			</dict>
		</array>
	</dict>
	<key>Content</key>
	<dict>
		<key>Scripts</key>
		<dict>
			<key>End</key>
			<array>
				<string>injected.js</string>
			</array>
		</dict>
	</dict>
	<key>Description</key>
	<string>Run Battery Power tests</string>
	<key>DeveloperIdentifier</key>
	<string>NWBL8UVJPY</string>
	<key>ExtensionInfoDictionaryVersion</key>
	<string>1.0</string>
	<key>Permissions</key>
	<dict>
		<key>Website Access</key>
		<dict>
			<key>Include Secure Pages</key>
			<true/>
			<key>Level</key>
			<string>All</string>
		</dict>
	</dict>
	<key>Website</key>
	<string>http://power.webpagetest.org/</string>
</dict>
</plist>
